/* colour reference

navy blue: 0e253d
navy bllue focus: 17456b
green: 587165
red: 841621
gold: cea075
gold focus: e89856
silver: c0c0ba
light grey: e6e6e6
dark grey: 333333 


*/

/* --------------------------------------------------------------general styles */
@font-face {
    font-family: 'bianka_scriptregular';
    src: url('../assets/fonts/bianka_script-webfont.woff2') format('woff2'),
         url('../assets/fonts/bianka_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-size: 1em;
    box-sizing: border-box;
}

.hide-mobile{
    display: none;
}
.hide-until-pro{
    display: none;
}
.hide-until-desktop{
    display: none;
}

h1{
    font-family: 'bianka_scriptregular';
    font-size: 4em;
    background: white;
    z-index: 1;
    overflow: visible;
    min-height: 1.5em;
}
h1.no-bg{
    background: rgba(0, 0, 0, 0);
}
h1.bg-navy{
    background: #0e253d;
}
h1 span{
 margin-left: 0.2em;
 margin-right: -0.2em;
}
h3{
    font-weight: 700;
}
h5{
    font-family: 'bianka_scriptregular';
    font-size: 3em;
    overflow: visible;
}
p{
    text-align: justify;
}
hr{
    border: 1px solid black;
}
/* --------------------------------------------------------------global styles */

button.btn-dark{
    width: 100%;
    border-radius: 0;
    padding: 20px;
    font-size: 1em;
    margin:0;
}
.btn-primary{
    border-radius: 0;
    background: #0e253d;
    font-weight: 400;
    font-size: 1em;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: #17456b;
}
.btn-warning{
    border-radius: 0;
    background: #cea075;
    font-weight: 400;
    font-size: 1em;
    border:#cea075; 
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active{
    background: #e89856;
    border: #e89856;
}
section{
    margin: 25px 0;
}
.line-through, .line-through-white{
    width: 90%;
    position: relative;
    transform: translateY(-4.4em);
    height: 1px;
    z-index: -1;
}
.line-through{
    background: black;
}
.line-through-white{
    background: white;
}
.navy{
    background: #0e253d;
}
cite{
    font-size: 0.8em;
    font-weight: 300;
}
/* forms */
label{
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
}
input[type="submit"], button[type="submit"]{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border: #cea075;
    background: #cea075;
}
input[type="submit"]:hover, button[type="submit"]:hover{
    outline: none;
    border: #e89856;
    background: #e89856;
}
.sticky-top{
    top: 40px;
}
/* --------------------------------------------------------------header styles */

.mobile .nav-menu{
    color: white;
    font-size: 20px;
}
.mobile .nav-menu .menu-icons, .mobile .nav-menu .menu-button {
    position: fixed!important;
    top: 0!important;
    height: 50px;
    overflow: hidden;
}
.mobile .nav-menu .menu-button {
    background: #0e253d;
    min-width: 30vw;
    border-right: 1px solid white;
    left: 0;
    z-index: 11;
    cursor: pointer;
}
.mobile .nav-menu .menu-icons {
    background: #841621;
    width: 70vw;
    background: #333333;
    right: 0;
    z-index: 9;
}
.menu-button-text{
    margin: 15px
}
.menu-icons ul{
    float: right;
    list-style: none;
    margin-top: 15px
}
.menu-icons li{
    display: inline;
    padding: 0 2px;
}
.menu-icons li:last-child{
    padding-right: 10px;
}
.menu-icons a{
    color: white;
    cursor: pointer;
}
.menu-icons a:hover{
    color: #cea075;
}
.logo{
    margin-top: 15vh;
}

/* mobile menu */
.mobile-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    transition: height 0.5s;
}
.menu-container{
    background: #0e253d;
    padding: 50px 0;
}
.mobile-nav ul{
    list-style: none;
}
.mobile-nav li{
    width: 80%;
    border-bottom: solid white 0.5px;
    padding-bottom: 5px;
    margin-top: 30px;
}
.mobile-nav li a{
    color: white;
}
.mobile-nav li a.active{
    color: #cea075;
    font-weight: 700;
}
.remainder-menu{
    height: 100%;
}

/* --------------------------------------------------------------feature image */
.feature{
    height: 60vh;
    margin-top: 5vh;
    background: url('../assets/images/renovated-kitchen.jpg') no-repeat center center;
    background-size: cover;
}

/* --------------------------------------------------------------our brand */
.brand-image-mobile{
    width: 100%;
}
/* --------------------------------------------------------------quote section */
section#quote{
    font-family: merriweather, serif;
    padding: 40px 0;
    font-size: 1.5em;
}
.quote{
    padding-top: 30px;
    padding-bottom: 30px;
}
section#quote p{
    text-align: center;
}
i.fas.fa-quote-left{
    margin-bottom: 30px;
}
/* --------------------------------------------------------------who we are section */
section#who-we-are{
    padding: 10px;
    overflow: visible;
}
/* --------------------------------------------------------------about us section */
#aboutImage{
    background: url('../assets/images/pot-plant.jpg') no-repeat center center;
    background-size: cover;
}
/* --------------------------------------------------------------feature image secondary */
.feature-secondary{
    height: auto;
    margin-top: 5vh;
}
/* --------------------------------------------------------------our services section */
.service-scroller{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.service-scroller:after {
  content: '';
  width: 10px;
}
.service-scroller::-webkit-scrollbar {
    display: none;
}
.service-scroller:last-child {
    margin-right: 20px;
}
.service-scroller div.service{
    width: 70vw;
    background: #e6e6e6;
}
.service-description{
    padding: 10px;
}
/* --------------------------------------------------------------instagram section */
section#instagram .container .row{
    background: #e6e6e6;
}
/* --------------------------------------------------------------sign up section */
section#sign-up{
    background: url('../assets/images/table-eucalyptus-leaves.jpg') no-repeat center center;
    background-size: cover;
}
/* --------------------------------------------------------------footer */
footer{
    margin: 0;
}
footer .menu-icons ul{
    float: none;
}
.footer-bottom{
    background: #e6e6e6;
}
footer a{
    color: black!important;
}

.modal-content{
    border-radius: 0!important;
}
/* --------------------------------------------------------------packages and services styles */
.text-box{
    background: white;
}
section#services .text-box{
    padding: 4em 3em!important;
}
section#packages{
    background: url('../assets/images/eucalyptus-plant.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
section#services{
    background: url('../assets/images/ocean.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.sideNav li {
    display: inline-block;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;;
    margin: 5px 1px;
}
.sideNav li span{
    display: none;
}
.sideNav li a{
    color: #0e253d;
    font-weight: 400;
    font-family: merriweather, serif;
}
div.number{
    background: #c0c0ba;
    width: 80px;
    height: 80px;
    padding-top: 0.2em;
    border-radius: 40px;
    font-size: 2.5em;
    font-family: merriweather, serif;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}
.body-content h2{
    font-family: merriweather, serif;
    color: #0e253d;
    font-weight: 700;
}
section#services .body-content h2{
    margin-bottom: 2em;
}
.body-content span{
    font-family: merriweather, serif;
    color: #0e253d;
    font-weight: 400;
    font-size: 1em;
}
.infographic{
    display: grid;
    grid-column-gap: 10px;
    grid-template-rows: 60px auto;
    grid-template-columns: 60px  2px 60px 2px 60px;
}
.icon{
    background: #0e253d;
    border-radius: 30px;
    padding-top: 0.9em;
}
.infographic i{
    font-size: 2em;
    color: white;
}
.text-box li{
    padding-top: 10px;
}
.download{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #0e253d;
    padding-top: 10px;
}
.download a{
    color: white;
    font-size: 40px;
}


/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .brand-image-mobile{
        padding: 30px;
    }
 }

/* // --------------------------------------------------------------Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

     /* general styles */
    .hide-tablet-up{
        display: none;
    }
    .hide-mobile{
        display: block;
    }
    
    /* header */
    .menu-icons a{
        color: black;
        font-size: 1.5em;
    }
    .logo{
        margin-top: 5vh;
    }
    nav.row{
        background: #e6e6e6;
        margin-top: 20px;
    }
    nav.row li{
        display: inline;
        padding: 2px 10px;
        font-weight: 400;
    }
    nav.row li a{
        color: black;
    }
    nav.row li a.active{
        border-bottom: 1px solid black;
    }
    nav.row.hiddenNav{
        position: fixed;
        top: 0;
        width: 100vw;
        margin: 0;
        z-index: 2000;
        opacity: 0;
        transition: opacity 0.8s;    
    }

    /* feature image home */
    .feature{
        margin: 0;
        background: url('../assets/images/renovated-home.jpg') no-repeat center center;
        background-size: cover;
        height: 45vh;
    }
    .feature-secondary{
        background: url('../assets/images/the-two-homers-house-plan.jpg') no-repeat center center;
        height: 60vh;
        background-size: cover;
    }
    /* services section */
    .service-scroller div.service{
        width: 40vw;
        background: white;
    }

    /* packages and services */
    .text-box{
        padding-left: 4em!important;
        padding-right: 4em!important;
    }
    section#services .text-box{
        padding: 4em 7em!important;
    }
 }

/* // --------------------------------------------------------------Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* general styles */
    .hide-until-pro{
        display:block;
    }
    /* packages and services */
    .sideNav{
        background: white;
        padding: 50px 30px;
    }
    .sideNav li {
        display: block;
        background: none;
        border-radius: none;
        padding: 10px 0;
        margin: 0;
    }
    .sideNav li span{
        display: block;
        font-weight: 700;
    }
    .sideNav li span hr{
        margin: 5px 0;
        border: 0.5px solid black!important;
    }
    section#services .sideNav li span hr{
        margin: 1px 0;
    }
    .sideNav li a{
        color: #0e253d;
        font-weight: 400;
    }
    section#services .sideNav li a{
        font-weight: 700;
    }
    .sideNav li a:hover{
        color: #cea075;
        text-decoration: none;
    }
 }

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* home page styles */
    .logo img{
        width: 70%;
    }
    .feature{
        height: 60vh;
    }
 }
/* --------------------------------------------------------------Extra large devices landscape */
 @media (min-width: 1200px) and (orientation: landscape) { 
     /* general styles */
     .hide-until-desktop{
        display: block;
    }
    .hide-from-desktop{
        display: none;
    }

    /* home page styles */
    .feature{
        height: 70vh;
    }
    section#quote{
        font-size: 2em;
    }
    /* services section */
    .service-scroller{
        grid-gap: 10px;
        grid-template-rows: auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-auto-flow: row;
        overflow-x: hidden;
    }
    .service-scroller:after {
        width: 0px;
    }
    .service-scroller:last-child {
        margin-right: 0;
    }
    .service-scroller div.service{
        width: 100%;
    }

    /* packages and services */
    .text-box{
        padding-left: 6em!important;
        padding-right: 6em!important;
    }
 }


 /* --------------------------------------------------------------Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    i{
        overflow: hidden;
    }
    .col-12{
        overflow: hidden;
    }
    .service-scroller div.service{
        width: 23%;
        display: inline-block;
        margin: 0!important;
        vertical-align: top;
    }
    h1 span{
        position: absolute;
        -moz-transform: translateX(0.2em);
        -o-transform: translateX(0.2em); 
        -webkit-transform: translateX(0.2em);
        transform: translateX(0.2em);
    }

    /* packages and services */
    .infographic{
        width: 250px;
    }
    .infographic .icon{
        display: inline-block;
        width: 60px;
        height: 60px;
    }
    .infographic .navy{
        display: none;
    }
    .infographic .text{
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }

 }